@media only screen and (min-width:600px){
    body{
        width: 100%;
        height: auto;
    }
    nav #logos img{
        width: 250px;
        padding-top: 20px;
    }
    #real{
        display: none;
    }   
    nav ul{
        display: none;
    }
    #Hirecontent{
        width: 40%;
        transition: 0.9s;
        margin-left: 60%;
    }
    #Sidenav{
        width: 0%;
        transition: 0.5s;
        height: 300px;
        overflow: hidden;
        background-color: rgb(0, 0, 0);
        position: fixed;
        z-index: 1001;
        display: block;
        /* animation-name: papa;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate; */
        /* display: none; */
    }
    #Sidenav li{
        list-style-type: none;
        display: block;
        padding: 15px ;
        text-align: center;
        transition: 0.5s;
    }
    #Sidenav li a{
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        transition: 0.5s;
        text-decoration-color:rgba(109, 214, 221, 0);
        color: rgb(255, 255, 255);
    }
    #Sidenav li a:hover {
        text-decoration-color: white;
        text-decoration-style:double;
    }
    .close{
        float: right;
        font-size: 50px;
        margin-top: -280px;
        margin-right: 22px;
        transition: 0.3s;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.507);
    }
    .close:hover{
        color: white;
    }
    .times{
        background-color:black;
        width:30px;
        height:2px;
        position: relative;
        margin-top:30%;
        border-radius: 50%;
        cursor: pointer;
    }
    #ddtimes{
        width: 40px;
        height: 40px;
        border: 2px solid rgba(0, 0, 0, 0);
        position: relative;
        margin-top:35px;
        border-radius: 50%;
        float: right;
        cursor: pointer;
    }

    .times::after{
        content:" ";
        width:30px;
        height:2px;
        background-color: black;
        position:absolute;
        top:7px;
        right: 0;
        border-radius: 50%;
        margin-top: 2px;
    }
    .times::before{
        content:" ";
        width:30px;
        right: 0;
        height:2px;
        background-color: black;
        position:absolute;
        bottom:7px;
        border-radius: 50%;
        margin-bottom: 2px;
    }
    .hire{
        width: auto;
        color: rgb(0, 0, 0);
        cursor: pointer;
        background-color: rgb(255, 255, 255);
        border: 3px solid black;
        border-radius: 40px;
        position: relative;
        padding: 10px 30px;
        display: block;
        float: right;
        margin-left:75px;
        margin-top: 25px;
        font-family:"Poppins3";
        animation-name: maro;
        animation-duration:1.5s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
        animation-direction: alternate;
        animation-timing-function: linear;
    }
    @keyframes maro{
        from{background-color:black; color: white;}
        to{background-color: white;}
    }
    #HOME-SECTION{
        background-size: cover;
        background-position:-70vh;
    } 
    #HOME-SECTION p{
        font-size:18px;
        line-height: 40px;
        margin-left: 6vh;
        margin-top: 18vh;
        overflow: hidden;
    }
    .CV-SLOT{
        font-size: 25px;
        margin-left: 6vh;
        margin-top: 2vh;
    }
    .CV-SLOT a{
        color: black;
        /* animation-name: duke;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-duration: 0.6s;
        animation-direction: alternate-reverse; */
    }
    /* @keyframes duke {
        0%{text-decoration-color: white; left: 0;}
        50%{text-decoration-color: rgb(28, 192, 184); left: 50%;}
        100%{text-decoration-color: rgb(0, 0, 0); left: 100%;}
       
    } */
    #ABOUT-SECTION #div,.first{
        width: 90%;
        margin: 5%;
    }
    .first img{
    margin: 0 45%;
    }
    #slides,#sliders{
        width: 90%;
        margin: 5%;
    }
    .works{
        height: 15vh;
        transition: 2s;
    }
    .work1{
        padding: 10px;
        margin: 1% 2%;
        font-family: "Poppins2";
        height: 90%;
        width: 20%;
    }
    .work1 p{
        font-size: 12px;
        color: black;
    }
    .work1 span{
        font-size: 28px;
    }
    .Edu .edubox,.Edu .expbox,.Edu .awardbox{
        width: 80%;
        margin: 3% 10%;
        height: auto;
    }
    .column{
        width: 33.33%;
    }
    .content{
        padding: 5%;
    }
    form{
        width: 100%;
    }
    .intouch{
        width: 100%;
        margin: 20px;
    }
    #CONTACT-SECTION h5,#PORTFOLIO-SECTION h5,#RESUME-SECTION h2,#ABOUT-SECTION h2{
        font-size: 30px;
    }


}