
@media only screen and (max-width:600px){
    body{
        width: 100%;
        height: auto;
    }
    nav #logos img{
        width: 160px;
        padding-top: 35px;
        margin-left: 25px;
    }
    #real{
        display: none;
    }
    nav ul{
        display: none;
    }
    #Sidenav{
        width: 0%;
        transition: 0.5s;
        height: 300px;
        overflow: hidden;
        background-color: rgb(0, 0, 0);
        position: fixed;
        z-index: 1001;
        display: block;
        /* animation-name: papa;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate; */
        /* display: none; */
    }
    #Sidenav li{
        list-style-type: none;
        display: block;
        padding: 15px ;
        text-align: center;
        transition: 0.5s;
    }
    #Sidenav li a{
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        transition: 0.5s;
        text-decoration-color:rgba(0, 0, 0, 0);
        color: rgb(255, 255, 255);
    }
    #Sidenav li a:hover {
        text-decoration-color: white;
        text-decoration-style:wavy;
    }
    .close{
        float: right;
        font-size: 50px;
        margin-top: -280px;
        margin-right: 22px;
        position: relative;
        transition: 0.3s;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.507);
    }
    .close:hover{
        color: white;
    }
    .times{
        background-color:black;
        width:30px;
        height:2px;
        position: relative;
        margin-top:20px;
        border-radius: 50%;
        cursor: pointer;
    }
    #ddtimes{
        width: 40px;
        height: 40px;
        border: 2px solid rgba(0, 0, 0, 0);
        position: relative;
        margin-top:27px;
        float: right;
        border-radius: 50%;
        cursor: pointer;
    }

    .times::after{
        content:" ";
        width:30px;
        height:2px;
        background-color: black;
        position:absolute;
        top:7px;
        right: 0;
        border-radius: 50%;
        margin-top: 2px;
    }
    .times::before{
        content:" ";
        width:30px;
        right: 0;
        height:2px;
        background-color: black;
        position:absolute;   
        bottom:7px;
        border-radius: 50%;
        margin-bottom: 2px;
    }
    #phone{
        width: 60%;
        float: left;
    }
    .hire{
        width: fit-content;
        /* height: 40px; */
        color: rgb(0, 0, 0);
        cursor: pointer;
        background-color: rgb(255, 255, 255);
        border: 3px solid black;
        border-radius: 40px;
        padding: 10px 15px;
        float: right;
        display: block;
        font-family:"Poppins3";
        /* transition: 0.9s; */
        font-size: 15px;
        /* overflow: hidden; */
        position: relative;
        margin-left:75px;
        margin-top: 25px;
        animation-name: maro;
        animation-duration:1.5s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
        animation-direction: alternate;
        animation-timing-function: linear;
    }
    @keyframes maro{
        from{background-color:black; color: white;}
        to{background-color: white;}
    }
    #Hirecontent{
        width: 70%;
        margin-left: 30%;       
    }
    #Hirecontent #close{
        font-size: 40px;
        margin: 15% 10px 0 0;
    }
    #Hirecontent button{
        margin-top: -10px;
    }
    #HOME-SECTION{
        background-size: cover;
        background-position:-105vh;
    } 
    #HOME-SECTION #home-txt{
        margin-left: -5vh;

    }
    #HOME-SECTION p{
        font-size:18px;
        line-height: 40px;
        margin-left: 6vh;
        margin-top: 18vh;
        overflow: hidden;
    }
    #HOME-SECTION p span{
        font-size: 37px;
    }
    .CV-SLOT{
        font-size: 25px;
        margin-left: 6vh;
        margin-top: 2vh;
    }
    .CV-SLOT a{
        color: black;
        font-size: 20px;
        /* animation-name: duke;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-duration: 0.6s;
        animation-direction: alternate-reverse; */
    }
    /* @keyframes duke {
        0%{text-decoration-color: white; left: 0;}
        50%{text-decoration-color: rgb(28, 192, 184); left: 50%;}
        100%{text-decoration-color: rgb(0, 0, 0); left: 100%;}
       
    } */
    .CV-SLOT img{
        width: 30px;
    }
    #ABOUT-SECTION #div,.first{
        width: 90%;
        margin: 5%;
    }
    .abtme1, .abtme2, .abtme3{
        width:90%;
        text-align: justify;
        margin: 2% 5%;
        font-family: "Poppins2";
        font-size: 13px;
    }
    .first img{
        margin: 0 42%;
    }
    #slides,#sliders{
        width: 90%;
        margin: 5%;
    }
    .works{
        height: auto ;
        transition: 2s;
    }
    .work1{
        padding: 5px;
        margin: 5% 2%;
        font-family: "Poppins2";
        /* height: 90%; */
        width: 20%;
    }
    .work1 p{
        font-size: 10px;
        color: black;
    }
    .work1 span{
        font-size: 25px;
    }
    .Edu .edubox,.Edu .expbox,.Edu .awardbox{
        width: 80%;
        margin: 2% 10%;
        height: auto;
        text-align: justify;
    }
    .column{
        width: 80%;
        margin: 0% 10%;
    }
    .btn{
        font-size: 11px;
    }
    .content{
        padding: 5%;
    }
    form{
        width: 100%;
    }
    .intouch{
        width: 100%;
        margin: 5%;
        font-size: 15px;
    }
    .intouch p{
        line-height: 0px;
        cursor: copy;
    }
    #CONTACT-SECTION h5,#PORTFOLIO-SECTION h5,#RESUME-SECTION h2,#ABOUT-SECTION h2{
        font-size: 30px;
        margin-top: 3vh;
    }


}